
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* Shared Style */
  .text-center{
    text-align: center;
  }
  .secondary-bg{
    background-color: #FFF8F3;
  }
  
  .text-primary{
    color: #FD6E0A;
  }
  .dark-2{
    color: rgb(53, 49, 49);
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
/* Nav Style */
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 120px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* Banner Styles */
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    width: 585px;
    height: 356px;
}
header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
.sectiob-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(23, 24, 23);
}
/* Main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About styles */
.about{
    border-radius: 10px;
    padding: 131px 200px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: bold;
}
/* What I do start from here */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 33px;
    box-shadow:0px 6px 50px 0px rgb(165, 164, 164);
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
}
/* resume section style */
.resume-container{
    display: flex;
}
.resume-download-cv{
    margin-top: 50px;
}.resume hr{
    margin-top: 30px;
}
/* footer styles */
footer{
    padding: 130px 230px;
    gap: 100px;
    display: flex;
}